<%= form_for @study, url: {action: "update"}, method: "patch" do |f| %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description, size: "60x12" %>
  </div>
  <div class="field">
    <%= f.label :start %><br />
    <%= f.datetime_field :start, autofocus: true %>
  </div>
  <div class="field">
    <%= f.label :end %><br />
    <%= f.datetime_field :end, autofocus: true %>
  </div>

  <div>
  <h1>Instructions:</h1>
    <%= f.fields_for :instructions do |instructions_form| %>
      <div>
        <%= instructions_form.label :name %></br>
        <%= instructions_form.text_field :name %>
      </div>
      <div>
        <%= instructions_form.label :description %></br>
        <%= instructions_form.text_area :description, size: "60x12" %>
      </div>
    <% end %>
  </div>

  <div class="actions">
    <%= f.submit "Create" %>
  </div>
<% end %>
